anti-drone-dome/public/**/*.css text eol=lf -whitespace
anti-drone-dome/public/**/*.html text eol=lf -whitespace
anti-drone-dome/public/**/*.js text eol=lf -whitespace
anti-drone-dome/public/**/*.json text eol=lf -whitespace
anti-drone-dome/public/**/*.map text eol=lf -whitespace
anti-drone-dome/public/**/*.txt text eol=lf -whitespace
anti-drone-dome/public/**/*.webmanifest text eol=lf -whitespace
anti-drone-dome/public/**/*.xml text eol=lf -whitespace
